.topic__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 40px;
  margin-left: 104px;
}

@media (max-width: 1000px) {
  .topic__wrapper {    
    margin-top: 32px;
    margin-left: 40px;
  }   
}

@media (max-width: 720px) {
  .topic__wrapper {
    display: none;
  }
}


