.search-field__title {  
  width: 545px;
  margin: 16px 0;
  padding: 0;  
}

@media (max-width: 800px) {
  .search-field__title {
    width: 300px;    
  }
}

@media (max-width: 540px) {
  .search-field__title {
    width: 285px;
  }
}