@import url(./_theme/menu__links_theme_local.css);
@import url(./_theme/menu_links_theme_social.css);

.menu__links {
  display: flex;
  justify-content: inherit;
  width: 190px;
  color: #000;     
  padding-inline-start: 0;
  list-style-type: none;
}

@media (max-width: 720px) {
  .menu__links {
    width: 145px;
  }
}