@import url(./_github/results__links_github.css);

.results__links {
    text-decoration: none;     
    text-align: end;
}

@media (max-width: 700px) {
  .results__links {
    margin-top: 16px;
  }
}