.results__links {
    text-decoration: none;     
    text-align: end;
}

/* @media (max-width: 800px) {
    .results__links {
      text-align: end;
    }
  } */

@media (max-width: 540px) {
  .results__links {
    margin-top: 16px;
  }
}