.author__subtitle {
  margin-bottom: 16px;
  margin-top: 0;
}

.author__subtitle:first-of-type {
  margin-top: 24px;
  margin-bottom: 16px;
}

@media (max-width: 1000px) {
  .author__subtitle {
    margin-bottom: 0;
  }

  .author__subtitle:first-of-type {
    margin-top: 16px;
    margin-bottom: 0;
  }
}