.footer__wrapper {
  width: 65%;
  margin-left: 15%;
  margin-bottom: 3px;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 3px;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  .footer__wrapper {
    width: 70%;
    margin-left: 5%;
  }
}

@media (max-width: 720px) {
  .footer__wrapper {
    width: 100%;
    margin-left: 0;
    margin-bottom: 40px;
    order: -1;
  }
}