@import url(./__home/menu__home.css);
@import url(./__link/menu__link.css);
@import url(./__links/menu__links.css);
@import url(./__theme/menu__theme_white.css);
@import url(./__theme/menu__theme_dark.css);

.menu {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 205px);
  margin: 30px 0 0;
  padding: 0 101px 0 104px;
  color: #000;
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
}

@media (max-width: 800px) {
  .menu {
    width: calc(100% - 85px);
    margin: 22px 0 22px;
    padding: 0 42px;
  }
}

@media (max-width: 540px) {
  .menu {
    width: calc(100% - 33px);
    margin: 16px 0 16px;
    padding: 0 16px;
  }
}
