.menu__link.menu__link_active {
  color: #fff;
  padding-bottom: 30px;
  border-bottom-width: 3px;
  border-bottom-style: solid;
}

@media (max-width: 800px) {
  .menu__link.menu__link_active {
    padding-bottom: 22px;
  }
}

@media (max-width: 540px) {
  .menu__link.menu__link_active {
    padding-bottom: 16px;
  }
}
