.card__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-height: 50vw;
  overflow: hidden;
}

@media (max-width: 540px) {
  .card__wrapper {
    max-height: 120vw;
  }
}